<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Garage</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <script src="https://unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    </head>

    <body>
    <nav>
        <article class="nav-text">
            <a href="{{ path('modeles') }}"><h3>Modèles</h3></a>
            <a href="{{ path('avis') }}"><h3>Avis</h3></a>
            <a href=""><h3>Nous contacter</h3></a>
        </article>
        <article class="logo">
            <a href="">
                <img id="logo" src="images/vparrot.png" alt="logo">
            </a>
        </article>
        <article>
            <a href="">
                <img src="images/localisation.svg" alt="localisation">
            </a>    
            <a href="{{ path('favoris_list') }}">
                <i class="fa-regular fa-heart"></i>
            </a>
            <a href="{{ path('app_register') }}">
    <img src="{{ asset('assets/images/bmw-serie3.jpg') }}" alt="connexion">
</a>
<p>Test : Si ce texte s'affiche, le problème vient de l'image.</p>
        </article>
    </nav>            
    </body>
</html>