<nav>
        <article class="nav-text">
            <a href="{{ path('modeles') }}"><h3>Modèles</h3></a>
            <a href="{{ path('avis') }}"><h3>Avis</h3></a>
            <a href=""><h3>Nous contacter</h3></a>
        </article>
        <article class="logo">
            <a href=" {{ path('home') }}">
                <img id="logo" src="{{ asset('images/Garage_Hackathon.webp') }}" alt="logo">

            </a>
        </article>

        <article>
            <a href="{{ path('home') }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="50" height="50" style="fill: #000000;">><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com/ License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
            </a>
            <a href="{{ path('favoris_list') }}">
                <i class="fa-regular fa-heart"></i>
            </a>
            <a href="{{ path('app_register') }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="50" height="50" style="fill: #000000;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com/ License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/></svg>
</a>

        </article>
    </nav>